<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="carForm">
      <ion-item>
        <ion-label>My Car</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Make</ion-label>
        <ion-select >
          <ion-option value="ford">Ford</ion-option>
          <ion-option value="toyota">Toyota</ion-option>
          <ion-option value="tesla">Tesla</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Model</ion-label>
        <ion-select >
          <ion-option value="focus">Focus</ion-option>
          <ion-option value="escape">Escape</ion-option>
          <ion-option value="mustang">Mustang</ion-option>
          <ion-option value="fusion">Fusion</ion-option>
          <ion-option value="models">Model S</ion-option>
          <ion-option value="camry">Camry</ion-option>
          <ion-option value="prius">Prius</ion-option>
          <ion-option value="f150">F-150</ion-option>
          <ion-option value="model3">Model 3</ion-option>
          <ion-option value="corolla">Corolla</ion-option>
          <ion-option value="highlander">Highlander</ion-option>
          <ion-option value="yaris">Yaris</ion-option>
          <ion-option value="modelx">Model X</ion-option>
        </ion-select>
      </ion-item>
    </form>
  </ion-list>
  <button ion-button (click)="save()">Submit</button>
</ion-content>
